.fz_14 {
  font-size: 14px !important;
}

@font-face {
  font-family: "rsulight";
  src: url("../fonts/rsu_light-webfont.woff2") format("woff2"),
    url("../fonts/rsu_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rsuregular";
  src: url("../fonts/rsu_regular-webfont.woff2") format("woff2"),
    url("../fonts/rsu_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0E00 –U + 0e7f;
}

@font-face {
  font-family: "rsu_1";
  src: url("../fonts/rsu_bold-webfont.woff") format("woff"),
    url("../fonts/rsu_bold-webfont.woff2") format("woff2");
  unicode-range: U+0E00 –U + 0e7f;
}
.v-application {
  font-family: rsuregular, rsulight, rsu_1 !important;
  /* font-family: rsuregular, CustomHeading; */
  font-size: normal;
  line-height: 1.5;
}
html {
  overflow-x: hidden !important;
  /* font-family: rsulight, CustomHeading; */
  /* font-family: rsu_font; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: RSU-Light !important; */
  /* font-family: rsuregular !important; */
  /* overflow-y: hidden !important; */
  /* background-color: red; */
}
element.style {
  font-family: cursive;
}
html .set_hidden {
  overflow-y: hidden !important;
}
.card_rootcontent {
  padding: 20px;
}
.card_content,
.card1_p3_root,
.card1_p5_root,
.card1_p6_root {
  padding: 20px;
}
.card1_p3_root_sp {
  padding: 20px;
  padding-top: 0px;
}
.card2-graph {
  width: 100%;
  padding: 0 20px;
}

.container {
  background-color: #f6f6f6;
}

.bdr_12 {
  border-radius: 12px !important;
  box-shadow: 0 0px 12px 4px rgba(0, 0, 0, 0.1) !important;
}

.bdr_12_only {
  border-radius: 12px !important;
}

.set_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.set_center_sp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: column; */
}
.bg_test {
  background-color: rgba(241, 239, 91, 0.3);
}
.hid {
  display: none;
}
.bdr_0 {
  border-radius: 0 !important;
}
.zero_pd {
  padding: 0px 0px 0px 16px !important;
}
.set_h30 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 30px;
  /* background-color: green; */
}
.card1-left {
  width: 60%;
}
.bg_blue {
  background-color: rgba(0, 0, 250, 0.2);
}

.sub_card_dia_mini {
  padding: 15px;
  width: 300px;
}

.text_table_font_stle {
  font-size: 24px;
  font-weight: bold;
  border: 1.5px solid #757575;
}
.table_head1 {
  font-size: 15px !important;
}
.card_table_content_font {
  font-size: 14px !important;
  /* color: #5b5b5b; */
}
.spac_content {
  padding-bottom: 10px;
  /* display:none; */
}
/* card style */
.card_el,
.card1_p3,
.card1_p4,
.card1_p5 {
  padding: 10px 10px;
  margin-bottom: 5px;
}
.card_el_card2 {
  padding: 10px 10px;
  margin-bottom: 5px;
  /* padding: 20px; */
}
/* set card left right */
.card-split {
  display: flex;
  flex-direction: row;
}
.set_pdbot0 {
  padding: 16px 16px 0 16px;
}

.card_l {
  width: 50%;
  /* margin-right:10px; */
  padding-right: 10px;
}
.card_r {
  width: 50%;
  /* margin-left:10px; */
  padding-left: 10px;
}
.label_text_card {
  display: flex;
  justify-content: start;
  padding-left: 70px;
  font-size: 14px;
}
.head_name_tag {
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  width: 50%;
  justify-content: start;
}
.pd_l25 {
  padding: 0 20px;
}
.foot_card {
  font: size 20px;
}
.f_color_purple {
  color: #ad8dbb;
  /* font: size 18px; */
}
.head_card_l,
.head_card_r {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.label_text_card3 {
  display: flex;
  justify-content: start !important;
  padding-left: 70px !important;
  font-size: 14px;
  font-weight: regular;
}
.label_text_card1 {
  display: flex;
  justify-content: start !important;
  padding-left: 50px !important;
  font-size: 14px;
}
.label_text_card_norm {
  display: flex;
  justify-content: start !important;
  /* padding-left: 50px !important; */
  font-size: 14px;
}
.label_text_p6 {
  display: flex;
  justify-content: start;
  padding-left: 20px+10px;
  font-size: 14px;
  font-weight: regular;
}
.set_14_text {
  font-size: 14px !important;
}

.sub_card_text,
.card3_line2 {
  padding-left: 30px;
  font-size: 14px;
  color: gray;
}
.sub_card_text_sp0 {
  font-size: 14px;
  color: gray;
}
.card3_line2_fx {
  padding-left: 20px;
  font-size: 14px;
  color: gray;
}
.sub_card_text_sp {
  padding-left: 30px;
  font-size: 14px;
}
.sex-age-title-card3 {
  display: flex;
  left: 0;
}
.sex-age-title-card3 span {
  font-size: 14px;
}
.btn_day_tag {
  padding-top: 10px;
}
.btn_day_tag span {
  font-size: 14px;
}
.sex-title,
.sex_card4 {
  padding: 0 10px 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
.sexnage_card4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sexnage_card4 span {
  font-size: 14px;
}
.v-btn.v-size--small {
  font-size: 14px !important;
}
.age-title {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
.text_header,
.card_bot_text,
.card-bot-text,
.card3-bot-text {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}
.head_size {
  font-size: 25px;
}
.headline {
  font-size: 25px !important;
  font-weight: bold !important;
}
.s_bold {
  font-weight: bold;
}
.card5-bot-text,
.card6-bot-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.cont1-card1,
.cont2-card1 {
  padding: 0 10px;
}
.fix_center {
  display: flex;
  align-items: center;
  padding-left: 30px;
  /* justify-content: center;
  justify-items: center;
  justify-content: space-around; */
}
.set_size_chart {
  width: 450px;
  height: 200px;
}
.graph6-details {
  padding-top: 20px;
}
.text-top {
  font-size: 16px !important;
  word-spacing: 0.2;
}
.head_ct1_c1 {
  height: 84px;
  font-size: 22px;
  /* font-weight: bold; */
}
.head_ct1_c1 span {
  font-weight: bold;
}
.head_ct1_c1 p {
  font-weight: regular;
}
/* p2 move */
.font_style_title_card {
  padding: 16px 16px 0 16px !important;
  font-size: 18px !important;
  color: #ad8dbb !important;
}
.font_size_title_card {
  font-size: 18px !important;
}
.header_card2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
.card1_p3_content {
  display: flex;
  justify-content: space-around;
}
/* p3 */
.sp_card {
  display: flex;
  /* width: 100%; */
  justify-content: start !important;
  justify-items: start !important;
}
.set_pre_table {
  /* white-space: pre; */
  white-space: normal;
  line-height: 0.8;
}
/* p4 */

/* p5 */
.card1_p5_content {
  display: flex;
  padding: 0px 20px;
  justify-content: space-around;
  /* width: 100%; */
}
.table_head1 th {
  font-size: 15px !important;
  font-weight: bold;
}
.set_title_text td {
  font-size: 15px !important;
}
.table_content td {
  font-size: 14px !important;
}
.bold_text {
  font-weight: bold;
}
.set_rowcontent {
  display: flex;
}
.head_dialog_c1_p3,
.head_dialog_c1_p4,
.head_dialog_c2_p4,
.head_dialog_c1_p6 {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*  
html::-webkit-scrollbar { 
    display: none; 
    
} */

/* dialog style */
.v-application .headline {
  font-size: 25px !important;
  font-weight: bold;
  letter-spacing: normal !important;
  font-family: rsuregular, rsulight, rsu_1 !important;
}
.text_head_hr,
.pd_text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.set_head_dia {
  padding: 0px 20px;
  /* padding-top: 20px; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  /* font-size: 20px; */
}

.head_dialog {
  padding: 0px 20px;
}
.sub_text_head {
  padding-left: 20px !important;
  /* background-color: rgba(0, 0, 0, 0.4); */
}
.card2_line2 {
  font-size: 14px;
  padding-left: 20px;
}
.day_calen {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.set_height {
  height: fit-content;
}
.h_table_dia {
  font-size: 18px;
  font-weight: bold;
}
.card_num_head {
  font-size: 30px;
  font-weight: bold;
}
.card_num_text_bot {
  font-weight: bold;
  font-size: 16px;
}
.ct_1_c_noti {
  display: flex;
}
.ct_r_c_noti {
  width: 300px;
  /* padding:0px 20px; */
}
/* @media only screen and (max-width: 768px) { */
@media only screen and (max-width: 800px) {
  .fix_center,
  .fix_center_table {
    display: flex;
    align-items: center;
    padding-right: 10px;
    /* justify-content: center;
  justify-items: center;
  justify-content: space-around; */
  }
  .set_ab {
    padding-top: 50px !important;
  }
  .content1-card1 {
    display: flex;
    flex-direction: column;
  }
  .ct_1_c_noti {
    justify-content: space-between;
    /* background-color: rgba(2, 10, 102, 0.2); */
    /* padding: 0 20px; */
  }
  .cont1-card1,
  .cont2-card1 {
    padding: 0 20px;
  }
  .ct_2_c_noti {
    width: 100%;
  }
  .card1-subcard-3,
  .ct_r_c_noti {
    width: 100% !important;
  }
  .alr {
    text-align: center !important;
  }
  .t_name_ct3c1 {
    /* background-color: #eeff01; */
  }
  .set_cen_el {
    width: 100%;
    padding-left: 25%;
    /* justify-content:center;
    justify-items: center;
    align-items: center;
    text-align: center; */
  }
}

/* @media screen and (max-width: 320px) { */
@media screen and (max-width: 425px) {
  .card_el {
    width: 100%;
  }
  .content1_card2,
  .content1_card3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card3_l1 {
    padding: 0px;
  }
  .head-card1,
  .card1-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }
  .card2-content {
    display: flex;
    flex-direction: column;
  }
  .head_name_tag,
  .title-card3 {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
    align-items: center;
    font-size: 40px;
    width: 100%;
  }
  .sp_nametag p {
    margin-bottom: 0px;
  }
  .set_today_btn {
    width: 100px !important;
  }
  .card2-subcard-3,
  .card2-table {
    width: 100%;
  }
  .card2-subcard-3 {
    height: fit-content !important;
  }
  .content_table_data1 {
    padding: 0 !important;
  }
  .card_right_c2_p1 {
    height: fit-content !important;
    width: 100%;
    padding: 0px;
    padding-left: 0px !important;
    /* background-color:green; */
  }
  .pd_x5 {
    /* padding: 0px 5px; */
    margin: 0px 5px;
  }
  .male-content {
    font-size: 15px;
  }
  .bot-male-content {
    font-size: 13px;
  }
  .sex_card4 {
    padding-left: 30px;
  }
  .content_table {
    padding: 0px;
  }
  .card2-graph {
    padding: 0px;
    width: 100%;
    height: fit-content;
  }
  .card3_l1_root {
    height: fit-content !important;
  }
  .label_text_card3 {
    /* // padding: 0px !important; */
    padding-left: 30px !important;
  }
  .head_card_l,
  .head_card_r {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sub_card_text {
    padding-top: 10px;
  }
  .sex-age-title-card3 {
    justify-content: space-between;
    /* // justify-content: center; */
    width: 100%;
  }
  .set_btn_resize {
    width: 100px !important;
  }
  .card-bot-text {
    font-size: 40px;
  }
  .pd_icon {
    display: flex;
    justify-content: center;
  }
  .set_g1_size {
    width: 100% !important;
    height: 200px !important;
  }
  .head_card4 {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
  }
  .title_card4 {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 100% !important;
  }
  .icon-card {
    width: 100% !important;
  }
  .sexnage_card4 {
    justify-content: space-between;
    /* // background-color: rgba(219, 34, 34, 0.575); */
    width: 100%;
  }
  .title_card4 {
    width: 100%;
    display: flex;
    flex-direction: column !important;
  }
  .card4_nameNicon {
    /* // background-color: aquamarine; */
    display: flex;
    /* justify-content: space-around; */
    justify-content: center !important;
    padding: 0px;
    padding-right: 0px !important;
    width: 100%;
  }
  .set_0 {
    position: absolute;
    display: none;
  }
  .card4_head_btn {
    width: 100%;
  }
  .head_and_sub_content {
    padding: 0px !important;
  }
  .set_weight {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    align-items: center;
  }
  .sub_card_text_sp {
    padding-top: 10px;
  }
  .card4-content {
    /* // background-color: rgba(0, 50, 150, 0.6); */
  }
  .card5-top-content {
    width: 100%;
  }
  .card5-bottom-content,
  .table_c5,
  .set_table_n {
    width: 100%;
  }
  .set_human_fix {
    /* // height: 5vh !important; */
    height: 40px !important;
  }
  .fix_center {
    padding-left: 0px;
  }
  .data_table_card2_1,
  .data_table_card2 {
    width: 100% !important;
  }
  .data_table_card2_1_1 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 320px) {
  .foot_item {
    display: flex;
    flex-direction: column;
  }
  .set_card {
    height: fit-content;
    width: 300px !important;
  }
  .ct_1_c_noti {
    /* display:flex; */
    width: 100%;
    flex-direction: column;
  }
  .content1-card1 {
    width: 100%;
    padding: 0px;
    /* background-color:blue; */
  }
  .c_size {
    width: 100% !important;
    padding: 0px !important;
    /* background-color: blue; */
  }
  .card_content {
    width: 100%;
  }
  .head_ct1_c1 {
    width: 100% !important;
  }
  .set_wd100 {
    width: 100% !important;
  }
  .text_inside1 {
    font-size: 30px !important;
  }
  .set_pd_top {
    padding-top: 20px;
  }

  .set_text_in_donut_2 {
    margin-top: 5px !important;
  }
  .card1-subcard-3 {
    height: fit-content;
    width: 100% !important;
  }
  .card2-table {
    width: 100%;
  }
  .card2-table td {
    padding: 0px !important ;
  }
  .content_card_noti {
    width: 100%;
  }
  .alr {
    padding-left: 0px;
    white-space: nowrap;
    /* width: 100%; */
  }
  .card1-subcard-3_sp {
    height: auto !important;
    width: auto !important;
      /* width: fit-content !important; */
    /* width: 100% !important; */
  }
  .content1_card2,
  .content1_card3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .data_table_card2 {
    width: 100% !important;
  }
  .pd_text {
    white-space: nowrap;
    padding: 0px !important;
  }
  .card-info-right {
    width: 100% !important;
  }
  .table_content_card2 {
    width: 100% !important;
  }
  .table_human {
    width: 100%;
  }
  .font-omg {
    font-size: 14px;
  }
  .data_table_card2_1 {
    width: 100% !important;
  }
  .text-top {
    font-size: 14px !important;
    word-spacing: 0.2;
  }
  .set_data_table_size {
    width: auto !important;
  }
  .set_size_graph_noti_last {
    max-width: 200px;
  }
  .chart1_card3 {
    width: 100%;
  }
  .set_text_in_donut_noti {
    margin-top: 20px;
  }

  /* noti page */
}
