.fz_14 {
  font-size: 13px !important;
}
/* 
@font-face {
  font-family: "rsubold";
  src: url("/fonts/rsu_bold-webfont.woff2") format("woff2"),
    url("/fonts/rsu_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: "rsulight";
  src: url("../fonts/rsu_light-webfont.woff2") format("woff2"),
    url("../fonts/rsu_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rsuregular";
  src: url("../fonts/rsu_regular-webfont.woff2") format("woff2"),
    url("../fonts/rsu_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0E00 –U + 0e7f;
}
/* @font-face {
  font-family: "CustomHeading";
  src: url("/fonts/rsu-regular-webfont.woff") format("woff"),
    url("/fonts/RSU_Regular.ttf") format("truetype"),
    url("/fonts/rsu-regular-webfont.woff2") format("woff2");
} */
@font-face {
  font-family: "rsu_1";
  src: url("../fonts/rsu_bold-webfont.woff") format("woff"),
    url("../fonts/rsu_bold-webfont.woff2") format("woff2");
  unicode-range: U+0E00 –U + 0e7f;
}
.v-application {
  font-family: rsuregular, rsulight, rsu_1;
  /* font-family: rsuregular, CustomHeading; */
  line-height: 1.5;
}
html {
  overflow-x: hidden !important;
  /* font-family: rsulight, CustomHeading; */
  /* font-family: rsu_font; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-family: RSU-Light !important; */
  /* font-family: rsuregular !important; */
  /* overflow-y: hidden !important; */
  /* background-color: red; */
}
element.style {
  font-family: cursive;
}
html .set_hidden {
  overflow-y: hidden !important;
}
.card_rootcontent {
  padding: 20px;
}
.card_content {
  padding: 20px;
}

.container {
  background-color: #f6f6f6;
}

.bdr_12 {
  border-radius: 12px !important;
  box-shadow: 0 0px 12px 4px rgba(0, 0, 0, 0.1) !important;
}

.bdr_12_only {
  border-radius: 12px !important;
}

.set_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hid {
  display: none;
}
.bdr_0 {
  border-radius: 0 !important;
}

.set_h30 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 30px;
  /* background-color: green; */
}

.bg_blue {
  background-color: rgba(0, 0, 250, 0.2);
}

.sub_card_dia_mini {
  padding: 15px;
  width: 300px;
}

.text_table_font_stle {
  font-size: 24px;
  font-weight: bold;
  border: 1.5px solid #757575;
}

.spac_content {
  padding-bottom: 10px;
  /* display:none; */
}
/* card style */
.card_el {
  padding: 10px 10px;
  margin-bottom: 5px;
}
/* set card left right */
.card-split {
  display: flex;
  flex-direction: row;
}
.set_pdbot0 {
  padding: 16px 16px 0 16px;
}

.card_l {
  width: 50%;
  /* margin-right:10px; */
  padding-right: 10px;
}
.card_r {
  width: 50%;
  /* margin-left:10px; */
  padding-left: 10px;
}
.label_text_card {
  display: flex;
  justify-content: start;
  padding-left: 70px;
  font-size: 14px;
}
.head_name_tag {
  font-size: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: start;
}
.pd_l25 {
  padding-left: 25px;
}
.foot_card {
  font: size 20px;
}
.f_color_purple {
  color: #ad8dbb;
  font: size 18px;
}
.head_card_l {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.head_card_r {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}
.card3_line2 {
  padding-left: 30px;
  font-size: 11px;
}
.label_text_card3 {
  display: flex;
  justify-content: start;
  padding-left: 70px+10px;
  font-size: 15px;
  font-weight: regular;
}
.card2-graph {
  width: 100%;
  padding: 0 20px;
}
.sub_card_text {
  padding-left: 30px;
  font-size: 12px;
}
.sub_card_text_sp {
  padding-left: 10px;
  font-size: 12px;
}
/*  
html::-webkit-scrollbar { 
    display: none; 
    
} */
